* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: serif;
    font-size: 100px;
    text-align: center;
    margin-top: 300px;
    color: white;
    font-weight: bold;
}
body {
    background-image: linear-gradient(90deg, orange, deeppink, purple , blue, aqua);
}